body{
    margin: 0px;
    
}
html{
    scroll-behavior: smooth;
}
header {
    text-align: center;
    padding:20px ;
    margin: 10px ;
    position:fixed;
    width:100%;
}

header img{
    height:200px;
    width: 450px;
}

nav {
    margin-top: 10px;
}

nav a{
    text-decoration: none;
    background-color: rgb(103, 53, 0);
    color: rgb(232, 213, 189);
    font-size: 20px;
    padding: 5px 15px;
    margin: 15px;
    border-radius: 20px 20px 10px 10px;
     box-shadow:
    0px 6px 0px rgb(176, 118, 51),
    0px 10px 0px rgb(238, 202, 0)

}

nav a:hover {
    color: antiquewhite(255, 255, 255);
    background-color: antiquewhite(199, 172, 0);
    box-shadow:
        0px 6px 0px ,
        0px 10px 0px rgb(154, 121, 23);
    transition: 0.5s;
}

.home{
    height: 800px;
    padding-top: 50px;
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.deskhome{
    width: 40%;
    font-size: 20px;
    background-size: cover;
    padding-top: 50px;
    margin-left: 50px;
    color: black(255, 244, 229);
    h1{
        color: brown;
        background-color: antiquewhite;
        border-radius: 5px 5px 5px 5px;
    }

}

.deskhome a{
    text-decoration: none;
    color: rgb(212, 120, 0);
    background-color: rgb(234, 195, 124);
    padding: 10px 25px;
    border-radius: 30px;
}

.containerProject{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: antiquewhite(0, 74%, 27%, 0.291);
  width: 50%;
  margin:auto;
  padding: 50px 20px;
}
.containerProject img{
    height: 500px;
}

section.howto{
    height: 640px;
    padding-top: 100px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: bisque;
    width: 50%;
    margin: auto;
    padding:50px 20px
}
.howto img{
    height: 500px;
}
.deskHow{
    display:flex;
    width: 60%;
    margin:auto;
}
.dokumentasi{
    margin:20px;

}

.CardProfile{
    background-color: bisque;
    padding: 15px;
    width: 300px;
    margin: auto;
    text-align: center;
}
.imgProfile img{
    width: 100%;
}
.medsos{
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 40px;
    padding-top: 5px;
}
.medsos a{
    text-decoration: none;
    padding: 10px 10px;
    font-size: 24px;
}